.IN-widget {
    display: inline-block;
    line-height: 1;
    vertical-align: top !important;
    padding: 0px;
    margin: 0px;
    text-indent: 0px;
    text-align: center;
}

.bttn-bordered.bttn-primary {
  border-color: rgba(29,137,255,.4);
  color: #1d89ff;
    background-color: #2196f3;
    color: white;
}

#upload_modal {
  height: 500px;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  color: white;
}